<div class="jumbotron" style="margin-top:-40px;">
  <div class="container">
    <h1>ICS5111 - Yelp Project</h1>
    <p>Provide similar businesses based on review content</p>
  </div>
</div>
<div class="container">
  <app-search></app-search>
</div>
