<div class="container">
  <form class="business-form" (submit)="compareFormSubmit()">
    <div class="col-xs-12 col-sm-6">
      <mat-form-field class="full-width">
        <label>Select a Business Name:</label><br/>
        <input matInput placeholder="Business Name (e.g Mon Ami Gabi)" aria-label="Business Name (e.g Mon Ami Gabi)"
               [matAutocomplete]="autoa" [formControl]="businessControlFormA">
        <mat-autocomplete #autoa="matAutocomplete" (optionSelected)="onSelectionChangeA($event.option.value)">
          <mat-option *ngFor="let item of filteredBusinessA | async" [value]="item.name">
            <span>{{ item.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6">
      <mat-form-field class="full-width">
        <label>Select a second Business Name:</label><br/>
        <input matInput placeholder="Business Name (e.g Prime)" aria-label="Business Name (e.g Prime)"
               [matAutocomplete]="autob" [formControl]="businessControlFormB">
        <mat-autocomplete #autob="matAutocomplete" (optionSelected)="onSelectionChangeB($event.option.value)">
          <mat-option *ngFor="let item of filteredBusinessB | async" [value]="item.name">
            <span>{{ item.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-xs-12 margin-top-20 text-center">
      <button type="submit" class="btn btn-submit" [disabled]="!businessControlFormB.value || !businessControlFormA.value">Compare</button>
    </div>
  </form>

  <div class="clearfix"></div>
  <div class="margin-top-20 present-similar" *ngIf="similarPercentage">
    <div class="jumbotron text-center">
      <p>The selected business are similar with the following percentage</p>
      <h1>{{similarPercentage}}%</h1>
      <!--<div class="alert-tip text-danger" *ngIf="similarPercentage > 0 && similarPercentage < 6">Very Different</div>
      <div class="alert-tip text-success" *ngIf="similarPercentage > 50 && similarPercentage < 81">Almost the same</div>
      <div class="alert-tip text-success" *ngIf="similarPercentage > 80 && similarPercentage < 101 ">Very Similar</div>
      <div class="alert-tip text-warning" *ngIf="similarPercentage > 5 && similarPercentage < 51">Slight Similarity
      </div>-->
    </div>
  </div>

</div>
