<form class="business-form">
  <mat-form-field class="full-width">
    <label>Select a Business Name:</label><br/>
    <input matInput placeholder="Business Name (e.g Mon Ami Gabi)" aria-label="Business Name (e.g Mon Ami Gabi)"
           [matAutocomplete]="auto" [formControl]="businessControlForm">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event.option.value)">
      <mat-option *ngFor="let item of filteredBusiness | async" [value]="item.name">
        <span>{{ item.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
