<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Data Mining</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" routerLinkActive="active" routerLink="/home">Business Listing</a></li>
        <li><a href="#" routerLinkActive="active" routerLink="/compare">Compare</a></li>
        <li><a href="#" routerLinkActive="active" routerLink="/map">Map</a></li>

      </ul>

    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
<div class="content">
<router-outlet></router-outlet>
</div>
