.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
#similar-business {
  float:left;
  width:100%;
}
#similar-business td,#similar-business th {
  margin-top:5px;
  margin-bottom:5px;
}

#category h1 {
  margin-top:0;
  padding-top:0;
}
.table a {
  line-height:40px;
}
.mat-chip {
  margin-bottom:7px;
}
