<div class="container" id="item-container">
  <app-search></app-search>

  <div class="margin-top-20 float-left col-xs-12" *ngIf="businessData">
    <h1>{{businessData.name}}</h1>
  </div>
  <div class="clearfix"></div>
  <div id="category" style="margin-top:30px;">
    <div class="col-xs-8" *ngIf="businessData">

      <div class="margin-top-20">
        <h3>Location Details</h3>
        <strong>Address:</strong> {{businessData.address}}<br/>
        <strong>Neighborhood:</strong> {{businessData.neighborhood}}<br/>
        <strong>City:</strong> {{businessData.city}}<br/>
        <strong>State:</strong> {{businessData.state}}<br/>
        <strong>Post Code:</strong> {{businessData.postalCode}}<br/>
      </div>
      <div class="margin-top-20">
        <h3>Business Information</h3>
        <strong>Stars:</strong> {{businessData.stars}}<br/>
        <strong>Review Count:</strong> {{businessData.reviewCount}}<br/>
        <strong>Open:</strong> {{businessData.isOpen ? 'Yes': 'No'}}<br/>
      </div>
      <h3>Categories</h3>
      <mat-chip-list *ngIf="categories && categories.length > 0">
        <mat-chip *ngFor="let category of categories">{{category}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="col-xs-4">
      <div id="map" style="height:300px;"></div>
    </div>


  </div>
  <div class="clearfix"></div>
  <div class="col-xs-12">
    <h3>Similar Businesses</h3>

    <table id="similar-business" class="table margin-top-20" *ngIf="similarBusinesses && similarBusinesses.length > 0">
      <tr>
        <th>Business</th>
        <th>Similarity</th>
      </tr>
      <tr *ngFor="let business of similarBusinesses">
        <td><a href="#" (click)="redirectToPage(business.id)">{{business.name}}</a><Br/>
          <mat-chip-list *ngIf="business.categories && business.categories.length > 0">
            <mat-chip *ngFor="let category of business.categories">{{category}}</mat-chip>
          </mat-chip-list>
        </td>
        <td style="line-height: 50px;">{{business.similarity}}</td>
      </tr>
    </table>

  </div>
  <div class="clearfix"></div>

</div>
