/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.margin-top-20 {
  margin-top:20px;
}
.clearfix {
  clear:both;
}
.float-left {
  float:left;
  width:100%;
}
.float-right {
  float:right;
  width:100%;
}
